.popup-li li {
    color: white;
    border-color: grey;
}

.card {}

a {
    text-decoration: none;
}



.libutton {
    line-height: 0.5;
    font-size: 20px;
    background-color: red
}

.changecolor {
    border: none;
    /* background-color: #41199C; */
}

.question-type {}





.divider {
    background: "white"
}

.list-text {
    text-align: end;
    line-height: 1;
    margin: 0;
}

#list {
    color: white;

}

#list-card {
    color: white;
}

#a {}


.popup {
    display: flex;
    position: fixed;
    inset: 0px;
    width: 50%;
    height: 100%;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}

.flex-container {
    display: flex;
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    max-width: 100vh;
    max-height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;

}

.create-survey {


    width: 100vh;
    height: 100vh;

}